CLIENT_ID=
OAUTH_TOKEN=
BOT_USER_ID=
CHAT_CHANNEL_USER_ID=

# Firebase
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
